<div class = "col-lg-12 col-sm-12 col-xs-12">
    <!-- <h1 style = "text-align: center; margin-top: 40px;margin-bottom: 40px;color: #ee0979; " >WEBSITES FEATURES</h1> -->

        <div class="col-sm-2">
                
                <!-- <img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/romanos-senikidis-36213.jpg" alt="Smiley face" height="100%" width="100%" style = "display: inline-block;border: 5px solid #3ddad7;"> -->


        </div>



        <div class="col-md-8 col-sm-12 col-xs-12" style = "display: inline-block; margin-top: 20px; padding: 10px;  background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url(https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/instagr.jpeg);background-repeat:no-repeat; background-size:100% 100%;min-height: 30em; ">

            <div class = "w3-panel w3-card-2" style = "min-height: 30em; "> 
                
                    <Strong><h1 style = "color: #fff; margin : 2px; text-align:center; font-size: 30px;font-weight: bold; margin-top: 10%;" >INSTAGRAM PHOTO BOMBING: WIN 50$ THROUGH RVNB!</h1></Strong>                    
                    <Strong><h2 style = "color: #fff; margin : 20px; text-align:justify; font-size: 15px;padding: 20px;" >Here is what you gotta do: <br>1. Signup on RVNB<br>2. Tag us wth @RVNB followed by @YourRVNBUsername and use #RVNB on instagram with your exciting outing pictures<br>3. We pick a lucky winner each month who gets 50$ off next booking with RVNB or 50$ extra profit on the next boat or RV rental</h2></Strong>
                    <div class="col-sm-12" style = "padding-left: 40px; padding-bottom: 10px; margin-top: -25px;">
                        <%= link_to "START HASHTAGGING", "https://www.instagram.com/", class: "btn btn-primary", style: "background-color: #E20049; border: #e20049;" %>

                    </div>

    
                                                
            </div>

             <div class="col-sm-2">
                    
                    <!-- <img src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/romanos-senikidis-36213.jpg" alt="Smiley face" height="100%" width="100%" style = "display: inline-block;border: 5px solid #3ddad7;"> -->


            </div>


        </div>
   
  </div>


    </div>
