<div class = "col-sm-12 col-md-12 col-lg-12" style = "min-height: 700px;">

	<div class = "col-sm-3 col-md-3 col-lg-3">
	</div>
	

	<div class = "col-sm-6 col-md-6 col-lg-6" style = "text-align: center; ">
	  <strong><h1 style = "font-size: 70px; font-family: 'Heebo', cursive; color: #7C064D; margin-bottom: 20px; ">EDIT RESERVATION</h1></strong>
	  
		<%= render 'form', reservation: @reservation %>

	</div>

	<div class = "col-sm-3 col-md-3 col-lg-3">
	</div>

</div>