// Place all the styles related to the Availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Personal_Services';
    src: font-url('Personal_Services.ttf') format('truetype');
    font-weight: bold;
}
